*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.wrapper{
    width: 80%;
    padding: 1%;
    margin: 0 auto;
    
}

/* CSS for Menu */

.menu{
    font-weight: bold;
    border-bottom: 1px solid grey;
   
}

.menu ul{
    list-style-type: none;
}

.menu li{
    display: inline;
    padding: 1%;
}

.menu ul li a{
    text-decoration: none;
    color: #ff6b81
}

.menu ul li a:hover{
    color: #ff4757;
}

.text-center{
    text-align: center;
}

.clear-fix{
  float: none;
  clear: both;
}

/* CSS for main content */
.main-content{
    background-color: #f1f2f6;
    padding: 3% 0;
}

.col-4{
    width: 17%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}

/* CSS for Footer */

.footer{
    background-color: #ff4757;
    color: white;
}